<div class="mx-auto" style="width: 300px;">
    <h1>Eat-Da-Burger!</h1>
</div>
</br>
</br>
</br>
</br>
<div class="container">
    <div class="row">
        <div class="col-sm-5 mx-auto">
            <h2>burgers not devoured!</h2>
            <ul>
                {{#each burger}}
                {{#if devoured}}
                {{> burgers/burger-block devoured=false}}
                {{/if}}
                {{/each}}
            </ul>
        </div>
        <div class="col-sm-2">
        </div>
        <div class="col-sm-5 mx-auto">
            <h2>burgers devoured!</h2>
            <ul>
                {{#each burger}}
                {{#unless devoured}}
                {{> burgers/burger-block devoured=true}}
                {{/unless}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm mx-auto">
            <h2>Add a burger</h2>
            <form class="create-form">
                <div class="form-group">
                    <label for="nb">burger Name:</label>
                    <input type="text" id="nb">
                </div>
                <button type="submit">Add Burger</button>
            </form>
        </div>
    </div>
</div>