body {
  background-color: #e4f2dc;
}
li {
  padding: 5px;
  margin: 5px;
  background: #9be872;
}

label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
