<li>
    {{burger_name}}
    {{#unless devoured}}
    <button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
        {{#unless devoured}}Devour Em!!!{{/unless}}
    </button>
    {{/unless}}

</li>

{{!-- {{#unless devoured}}DEVOUR HIM!!!{{/unless}} --}}